<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList App</title>
</head>

<body>
    <h1>Welcome to TodoList!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rem quasi dicta aperiam animi incidunt. Quasi,
        hic fugiat unde sequi consequuntur, nesciunt velit fugit, sunt aut eveniet eos optio nam rerum beatae facere
        soluta assumenda? Suscipit quasi labore ea, laboriosam a aspernatur consequuntur. Magnam vel at numquam quae
        optio aperiam nam voluptate. Nisi ratione dolorem quo atque maiores nemo ipsum eveniet dicta laboriosam, iusto
        mollitia saepe illum corrupti, tempora voluptatum eius enim ab aspernatur fugit neque? Nemo, assumenda! Optio,
        aperiam beatae possimus blanditiis, similique, dicta velit error natus quisquam ratione minus nulla est odio
        saepe delectus at sunt atque quos hic et quae. Velit dolore molestias assumenda laboriosam ut veniam provident
        maxime, enim labore, rem doloremque repellendus sunt. Vel maiores ipsa obcaecati aliquam numquam recusandae
        ullam nisi doloremque sapiente laborum assumenda aut voluptas officiis quibusdam molestias deleniti, illum illo
        alias quaerat odio laudantium atque quas voluptates. Asperiores consectetur, similique iste corporis debitis nam
        optio suscipit commodi minima provident officia eos sapiente. Enim pariatur quibusdam sequi accusamus rem
        tempore, eos, qui, mollitia deleniti fugit voluptas. Blanditiis aut similique modi est repellendus. Minima
        soluta aliquam saepe ex reiciendis facilis sapiente sunt, dolore vitae nisi necessitatibus, libero ut est
        consequatur optio delectus eveniet.</p>
</body>

</html>